/build/
/nbproject/private/
/jpa.spec/nbproject/private/
/jpa.ri/nbproject/private/
/rest/nbproject/private/
/mvc/nbproject/private/
/jcode.core/nbproject/private/
/jcode.util/nbproject/private/
/javaee/nbproject/private/
/docker/nbproject/private/
/infra/nbproject/private/
/jpa.spec/build/
/jpa.ri/build/
/mvc/build/
/rest/build/
/jcode.core/build/
/jcode.util/build/
/javaee/build/
/docker/build/
/infra/build/