/build/
/nbproject/private/
/mvc/nbproject/private/
/rest/nbproject/private/
/javaee/nbproject/private/
/docker/nbproject/private/
/infra/nbproject/private/
/mvc/build/
/rest/build/
/javaee/build/
/docker/build/
/infra/build/