/nbproject/private/
/MVCCodeGenerator/nbproject/private/
/MVC Code Generator/nbproject/private/
/jCodeCore/nbproject/private/
/jCodeCore/build/
/build/
/MVC Code Generator/build/
/jCode Core/nbproject/private/
/ jCode Core/nbproject/private/
/jCode Core/build/
/module8/build/
/module8/nbproject/private/
/MVCCodeGenerator/build/
/TechStack/build/
/TechStack/nbproject/private/
/JEE Generator/nbproject/private/
/JEE Generator/build/
/RESTGenerator/nbproject/private/
/RESTGenerator/build/